#Conditions

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

In [1]:
# Compare characters

'BA' > 'AB'

True

#Branching

In [2]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )

go see Meat Loaf

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsElse.gif" width="650">

In [3]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )

print("move on")

go see Pink Floyd
move on

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsElif.gif" width="650">

##Logical operators

<ul>
    <li><code>and</code></li>
    <li><code>or</code></li>
    <li><code>not</code></li>
</ul>

##Quiz

1. Write a Python program to check if a player Lionel Messi has more than 10 achievements. If the condition is true, print the player's name, sport, and achievements else print does not have more than 10 achievements.

In [4]:
player="Lionel Messi"
sport='Soccer'
achievements=7

if achievements > 10:
  print(f"{player} plays {sport} and has {achievements} achievements.")
else:
  print(f"{player} does not have more than 10 achievements.")

Lionel Messi does not have more than 10 achievements.

2. Write a Python program to check if a player belongs to the sport Tennis or has exactly 20 achievements. If the condition is true, print a success message.

In [6]:
player2='QiYuan'
sport='Tennis'
achievements

if sport == 'Tennis' or achievements == 20:
  print(f"{player2} meet the criteria! He plays {sport} and have {achievements} achievements.")
else:
  print(f"{player2} does not meet the criteria.")

QiYuan meet the criteria! He play Tennis and have 7 achievements.

 3. Write a Python program to check if a player has less than 10 achievements and does not play Soccer. Print their details if they meet the criteria.

In [7]:
player3='QiyuanGitGit'
sport="Soccer"
achievements=9

if achievements < 10 and player3 != sport:
  print(f"{player3} plays {sport} and has only {achievements} achievements.")
else:
  print(f"{player3} does not meet the criteria.")

QiyuanGitGit plays Soccer and has only 9 achievements.

#Loops

In [8]:
range(3)

range(0, 3)

## for loop

In [9]:
dates = [1997, 1990, 1996]
n = len(dates)

for i in range(n):
  print(dates[i])

1997
1990
1996

In [12]:
# Use for loop to change the elements in list

color=['red', 'orange', 'yellow', 'green', 'blue']

for i in range(0,5):
  print("Before:", i, "is", color[i])
  color[i]='White'
  print('After:', i, 'is', color[i])

Before: 0 is red
After: 0 is White
Before: 1 is orange
After: 1 is White
Before: 2 is yellow
After: 2 is White
Before: 3 is green
After: 3 is White
Before: 4 is blue
After: 4 is White

In [13]:
color=['red', 'orange', 'yellow', 'green', 'blue']

for i, colour in enumerate(color):
  print(i, colour)

0 red
1 orange
2 yellow
3 green
4 blue

##while loop

In [21]:
date = [1997, 1990, 1996]

i=0
year=date[0]

while (year != 1996):
  print(year)
  i+=1
  year=date[i]

print('It tooks', i, 'repetitions to get out of loop.')

1997
1990
It tooks 2 repetitions to get out of loop.

In [23]:
color=['orange', 'orange', 'yellow', 'green', 'blue']

new_color=[]
i=0

while(i<len(color) and color[i] == 'orange'):
  new_color.append(color[i])
  i+=1

print(new_color)

['orange', 'orange']

#Functions

 A function is a reusable block of code which performs operations specified in the function.

In [25]:
def add(a):
  """
  add 1 to a
  """
  b=a+1
  print(a, "after add one become", b)
  return(b)

In [26]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [27]:
add(2)

2 after add one become 3

3

In [28]:
add(3)

3 after add one become 4

4

In [29]:
def mult(a,b):
  """
  def for multiple number
  """
  c = a*b
  return(c)
  print('This is not printed')

result=mult(2,3)
result

6

In [30]:
mult(4,6)

24

###Local Variable

In [32]:
def square(a):

  #Local variable
  b=1
  c=a*a+b
  print(a,'if you square +1', c)
  return(c)

In [33]:
#Initialize global variable

x=3
y=square(x)
y

3 if you square +1 10

10

In [34]:
square(4)

4 if you square +1 17

17

If there is no return statement, the function returns None. Both functions MJ and MJ1 are same.

In [36]:
def MJ():
  print("Qiyuan GitGit")

def MJ1():
  print('Qiyuan gitgit')
  return(None)

In [37]:
MJ()

Qiyuan GitGit

In [38]:
MJ1()

Qiyuan gitgit

In [42]:
def con(a, b):
    return(a + b)

con("This ", "is")

'This is'

###Pre-defined functions

In [45]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
print(album_ratings)
sum(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

70.0

In [46]:
len(album_ratings)

8

###In Built Functions

An in-built function is a pre-defined function that is always available for use, providing common functionality without requiring any imports.

In [48]:
a = (1,2)

b=sum(a)

print(f"The sum of elements in tuple {a} is {b}.")

The sum of elements in tuple (1, 2) is 3.

In [49]:
a = [1,2]

b=sum(a)

print(f"The sum of elements in tuple {a} is {b}.")

The sum of elements in tuple [1, 2] is 3.

###if/else

In [51]:
def type_of_album(album, year_of_released):
  print(album, year_of_released)

  if year_of_released > 1980:
    return "Modern"
  else:
    return "Oldie"

x=type_of_album("QYGG", 1997)
x

QYGG 1997

'Modern'

In [52]:
def printList(the_list):
  for i in the_list:
    print(i)

In [53]:
printList(['2',1, 'the cat', 'Qi Yuan'])

2
1
the cat
Qi Yuan

In [54]:
string= "The BodyGuard is the best album"

# Define a funtion
def check_string(text):

# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("The BodyGuard is the best")

'String matched'

In [60]:
def freq(string):

  words=[]
  words=string.split()
  dict={}

  for i in words:
    dict[i]=words.count(i)

  print('The freq of words is:',dict)

freq("QiYuan QiYuan QiYuan GitGit learning Python woww woww")

The freq of words is: {'QiYuan': 3, 'GitGit': 1, 'learning': 1, 'Python': 1, 'woww': 2}

In [70]:
def freq(string, passed_key):

  words=[]
  words=string.split()
  dict={}

  for i in words:
    if(i == passed_key):
      dict[i]=words.count(i)

  print('Total count:',dict)

freq("QiYuan QiYuan QiYuan GitGit learning Python woww woww", "woww")

Total count: {'woww': 2}

In [67]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args))
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone', "\n")
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 4
Horsefeather
Adonis
Bone


No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage