#BeautifulSoup

In [61]:
!pip install bs4
!pip install requests pandas

Requirement already satisfied: bs4 in /opt/anaconda3/lib/python3.12/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.12/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2024.8.30)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [62]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module to download a web page

In [63]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

Store it as a string in the variable HTML

In [64]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse it, pass it into the BeautifulSoup constructor, represents the document as a nested data structure

In [65]:
soup = BeautifulSoup(html, 'html.parser')

Use prettify() to display the HTML in the nested structure:

###Prettify()

In [66]:
soup.prettify()

'<!DOCTYPE html>\n<html>\n <head>\n  <title>\n   Page Title\n  </title>\n </head>\n <body>\n  <h3>\n   <b id="boldest">\n    Lebron James\n   </b>\n  </h3>\n  <p>\n   Salary: $ 92,000,000\n  </p>\n  <h3>\n   Stephen Curry\n  </h3>\n  <p>\n   Salary: $85,000, 000\n  </p>\n  <h3>\n   Kevin Durant\n  </h3>\n  <p>\n   Salary: $73,200, 000\n  </p>\n </body>\n</html>\n'

#Tag

Tag object corresponds to an HTML tag in the original document

In [67]:
tag_object=soup.title
tag_object

In [68]:
type(tag_object)

bs4.element.Tag

If more than one Tag with the same name, the first element with that Tag name is called. This corresponds to the most paid player:

In [69]:
tag_object2=soup.h3
tag_object2

##Children, Parents, and Siblings

Tag object is a tree of objects, access the child of the tag or navigate down the branch:

In [70]:
tag_child =tag_object2.b
tag_child

Access the parent:

In [71]:
parent_tag=tag_child.parent
parent_tag

same as:

In [72]:
tag_object2

Parent of tag_object is the body element:

In [73]:
tag_object2.parent

tag_object2 sibling is the paragraph element:

##HTML Attributes

If the tag has attributes, the tag id="boldest", attribute id, value is boldest, access tag’s attributes by treating the tag like a dictionary:

In [74]:
tag_child

In [75]:
tag_child['id']

'boldest'

In [76]:
tag_child.attrs

{'id': 'boldest'}

Check attribute of the tag using the Python get() method:

In [77]:
tag_child.get('id')

'boldest'

##.string

In [78]:
tag_child

In [79]:
tag_string=tag_child.string
tag_string

'Lebron James'

type is navigate string:

In [80]:
type(tag_string)

bs4.element.NavigableString

Convert it to string object in Python:

In [81]:
str(tag_string)

'Lebron James'

##Filter

HTML of rocket launches:

In [82]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
   </tr>
  <tr>
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

Store it as a string in the variable table:

In [83]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [84]:
table_bs = BeautifulSoup(table, 'html.parser')

In [85]:
table_bs

<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>

##.findall('')

**.find_all() method** looks through a tag’s descendants and retrieves all descendants.

.find_all(name, attrs, recursive, string, limit, **kwargs)

In [86]:
table_bs.find_all('tr')

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

The result is a Python Iterable just like a list, each element is a tag object.

In [87]:
table_bs.find_all('tr')[0]

In [88]:
type(table_bs.find_all('tr'))

bs4.element.ResultSet

In [89]:
type(table_bs.find_all('tr')[0])

bs4.element.Tag

####Each row

In [90]:
#Try iterate

table_rows = table_bs.find_all('tr')
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

####Each row and each column's data

In [91]:
trow = table_bs.find_all('tr')

for i,row in enumerate(trow):
    print("row",i)
    tdata=row.find_all('td')
    for j,cell in enumerate(tdata):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
colunm 2 cell <td>80 kg</td>

Match against any item in that list:

In [92]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

##Attributes

filter based on that id value:

In [93]:
table_bs.find_all(id="flight")

find all the elements that have links to the Florida Wikipedia page:

In [94]:
table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

finds all tags with href value:

In [95]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

#Exercise

Find all the `<a>` tags without href value:

In [96]:
table_bs.find_all(lambda tag: tag.name == "a" and not tag.has_attr("href"))

Find all the elements that do not contain any links:

In [97]:
table_bs.find_all(lambda tag: tag.name != "a" and not tag.find('a'))

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <td>1</td>,
 <td>300 kg</td>,
 <td>2</td>,
 <td>94 kg</td>,
 <td>3</td>,
 <td>80 kg</td>]

Using soup, find the element with the id attribute content set to "boldest":

In [98]:
soup.find_all(id="boldest")

###String

Can search for strings instead of tags, where we find all the elments with Florida:

In [99]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

#Downloading And Scraping The Contents Of A Web Page

In [100]:
#Download the contents of the web page:
url = "http://www.ibm.com"

#use `.get` to download the contents of the webpage in text format and store in a variable called data:
data  = requests.get(url).text

# create a soup object using the variable 'data'
soup = BeautifulSoup(data,"html.parser")

Scrape all links:

In [101]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/think/insights/lets-create-smarter-business?lnk=hpls1us
https://www.ibm.com/thought-leadership/institute-business-value/report/2025-coo?lnk=hpls2us
https://www.ibm.com/case-studies?lnk=hprc1us
https://www.ibm.com/solutions/hybrid-cloud?lnk=hprc2us
https://www.ibm.com/campaign/gen-ai-for-business?lnk=hprc3us
https://www.ibm.com/new/announcements/ibm-named-a-leader-in-the-forrester-wave-integration-platform-as-a-service?lnk=hprc4us
https://www.ibm.com/community/ibm-techxchange-conference/?lnk=hpdev1us
https://github.com/ibm-granite-community/granite-snack-cookbook?lnk=hpdev2us
https://developer.ibm.com/technologies/artificial-intelligence/?lnk=hpdev3us
https://www.ibm.com/account/reg/signup?formid=urx-51898&lnk=hpdev4us
https://www.ibm.com/new/announcements/openai-s-open-source-models-available-on-ibm-watsonx-ai?lnk=hpdev5us
https://research.ibm.com/blog/granite-vision-ocr-leaderboard?lnk=hpdev6us
https://www.ibm.com/new/announcements/governing-ai-with-confidence-our-journey-with-watsonx-governance?lnk=hpdev7us
https://www.ibm.com/products/watsonx-code-assistant/pricing?lnk=hpdev8us
https://www.ibm.com/products/offers-and-discounts?lnk=hpdo1us
https://www.ibm.com/software?lnk=hpfp1us
https://www.ibm.com/solutions/ai-agents?lnk=hpfp2us
https://www.ibm.com/solutions/data-and-ai?lnk=hpfp3us
https://www.ibm.com/solutions/automation?lnk=hpfp4us
https://www.ibm.com/solutions/hybrid-cloud?lnk=hpfp5us
https://www.ibm.com/solutions/ai-models?lnk=hpfp6us
https://www.ibm.com/solutions/analytics?lnk=hpfp7us
https://www.ibm.com/solutions/security?lnk=hpfp8us
https://www.ibm.com/consulting?lnk=hpfp9us
https://www.ibm.com/about?lnk=hpii1us
https://www.ibm.com/history?lnk=hpii1us
https://research.ibm.com?lnk=hpii1us
https://www.ibm.com/quantum?lnk=hpii1us
https://www.ibm.com/careers?lnk=hpii1us
https://skillsbuild.org?lnk=hpii1us